#mycanvas {
	width: 100vw;
	height: 100vh;
}

#latlon {
	position: absolute;
	left: 10px;
	top: 10px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	-moz-box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 20px;
}